body{
    background-color: black;
}


h1{
    text-align: right;
    font-family:fantasy;
    font-style: normal;
    color: whitesmoke;
    margin: 10 px;
    align-items: baseline;
    
}
p{
    color: crimson;
    text-align: right;
    
}

.navbar-brand{
    position: absolute;
    top: 40px; left: 40px;
    

}

.navbar-brand_ {
	float: none;
	text-align: left;
    

}

.navbar-brand_ img {
	max-width: 100%;
}

.navbar-brand_a:hover {
	text-decoration: none;
}


.linea-divisora {
    border-bottom: 7px solid rgb(223, 61, 93);
    border-width: initial;
    border-spacing: initial;
}

.contenedor {
    display: flex; 
    justify-content: space-between;
}
.contenedor {
    display: flex;
    align-items: center;
}