@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* bg colors */
    --background: #02050e;
    --primary:#1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;

    /* text colors */

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;

    /* decoration */

    --fire: #ff6d00;
    --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "poppins", sans-serif;
}

body{
    background-color: black;
}

header{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 65px;
}


h1{
    text-align: right;
    font-family:fantasy;
    font-style: normal;
    color: whitesmoke;
    margin: 10 px;
    align-items: baseline;
    
}

.navbar-brand{
    position: absolute;
    top: 40px; left: 40px;
    

}

.navbar-brand_ {
	float: none;
	text-align: left;
    

}

.navbar-brand_ img {
	max-width: 40%;
    padding: 8px;
}


#contenedor {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
contenedor {
    display: flex;
    align-items: center;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1000px;
    gap: 20px
    
}

.navbar-list a{
    color: var(--text-gray);
}

#logo{
    height: 300px, 300px;
    padding: 50px
    max-width: 40%;
    width: 65px;
    margin: 20px;
    
}

.container{
    display: flex;
  justify-content: flex-end;
}

#menu-hamburguesa,
#menu-toggle,
.menu-label {
    display: none;
}

main{
    background-color: var(--background);
    color:var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#portadaUno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -400;
}

#portadaUno h1, #portadaUno p, .botones-portada{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: left;
    align-items: left;
    
}


#portada {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.portada-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin-top: -200px;
}

.portada-info h1 {
    display: flex;
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color:#64d3ff;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-left: 135px;
    
}

.portada-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
    text-align: left;
    
    
}



#botones{
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    right: 33%;
    position: relative;
    align-content: center;
    z-index: 0;
    max-width: 1200px;
    width: 100%;
    margin-left: -100px;
    margin-top: -170px;
}


.botones-portada{
    position: absolute;
    display: flex;
    gap: 15px;
}

.boton{
    margin-top: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border: 3px solid #64d3ff;
    
    
}

.boton-portada, .boton{
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: var(--text-white);
    cursor: pointer;
   
    
}

.boton-portada{
    margin-top: 120px;
    background-color:#64d3ff;
    color: var(--background);
    border: none;
    
}

.portada-img {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
}

.portada-img-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#parrafo p{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    width: 40%;
    
    margin:100px;
    margin-left: 480px;
    color: var(--text-gray);

}

#parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -70px;
    margin-left: -400px;
}

.ventajas{
    margin-top: -100px;
    display: flex;
    flex-direction:column;
    max-width: 1200px;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.ventajas h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    weight: 100px;
    font-weight: 900%;
    font-size:xx-large;
    margin-top: 100px;
    color: #64d3ff;
    
}

.ventajas p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-gray);
}

.ventajeras{
    margin-top: -50px;
}

.card{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    align-items:center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;
    border: 3px solid #64d3ff;
}

.cardUno{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    align-items:center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;
    border: 3px solid #64d3ff;
    margin-left:850px;
    margin-top: -370px;
}

.cardDos{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    align-items:center;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 20px;
    border: 3px solid #64d3ff;
    margin-left: -850px;
    margin-top: -370px;
}

.card img{
    width: 50px;
}
.cardUno img{
    width: 50px;
}
.cardDos img{
    width: 50px;
}

.card h3{
    
    font-weight: 600;
    font-size: 18px;
}
.cardUno h3{
    font-weight: 600;
    font-size: 18px;
}
.cardDos h3{
    font-weight: 600;
    font-size: 18px;
}

.card p{
    font-size: 12px;
    font-weight: 300;
    color: var(--text-gray);
}
.cardUno p{
    font-size: 12px;
    font-weight: 300;
    color: var(--text-gray);
}
.cardDos p{
    font-size: 12px;
    font-weight: 300;
    color: var(--text-gray);
}

.contacto{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content:left;
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-left: -450px;
    margin-top: 100px;
}

.contacto img{
    width: 30px;
}

.contacto h4{
    font-size: xx-large;
    color: #64d3ff;
    margin-top: -100px;
}

.contacto h5{
    font-size:larger;
    margin-bottom: 30px;
    color: var(--text-gray);
}

.contacto p{
    font-size:small;
    color: var(--text-gray);
}

.maps{
    
    margin-left: 550px;
    margin-top: -470px;
}



.logoUno img{
    width: 100px; 
    margin-left: 700px;
    margin-top: 20px;
    
}